body {
    background: lightskyblue;
}

.block {
    background: brown;
}

.left-branch:after,
.right-branch:after {
    background: green;
}

.timberman {
    background: red;
}

.grass {
    background: lightgreen;
}

.dirt {
    background: darkred;
}

.grave {
    background: black;
}
